@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* @keyframes slideFromTop {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */
/* .slide-top {
  animation: slideFromTop 1s ease forwards;
} */

.shake {
  animation: shake 0.9s ease forwards;
}
